body {
    background-color: #f2edd7;
}

div.about {
    margin: 0 auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: #e48257;
}

a:hover {
    text-decoration: none;
    color: #3a6351;
}

 ul.links {
     overflow: hidden;
     text-align: end;
 }
 li.yp {
    display: inline-block;
 }

 div.sep {
     margin: 0 auto;
     height: 2px;
     width: 30%;
     border-color: #3a6351;
     border-bottom-style: dotted;
 }

div.img-pinkfloyd {
     margin-top: 2%;
 }
 img {
     border-radius: 50px;
     width: 500px; /*default size*/
     max-width: 100%;
 }

 p.bio {
     text-align: center;
 }

 p.copy {
     color: #3a6351;
     text-align: center;
 }

 h1.title {
     text-align: center;
 }

 table.center {
     margin-left: auto;
     margin-right: auto;
 }

p.p-center {
    text-align: center;
 }