/* @media screen and (min-width: 360px) {
    div.logo img {
        height: 6vh;
    }

    div.search {
        display: none;
    }

    div.options img {
        display: block;
        height: 3vh;
    }

    div.registration a{
        display: none;
    }
} */